@model Order2GoV2.Models.Inventario

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="btn btn-info">Detalles</h1>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComercioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComercioNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
