@model IEnumerable<Order2GoV2.Models.Inventario>

@{
    ViewData["Title"] = "Inicio";
}

<h1 class="alert alert-warning" role="alert">Inventario</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComercioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComercioNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
