@model IEnumerable<Order2GoV2.Models.ComercioUsuario>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Inicio";
}

<h1 class="alert alert-info" role="alert">Usuarios en Comercio</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComercioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComercioNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Detalle</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
