@model IEnumerable<Order2GoV2.Models.Comercio>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Inicio";
}

<h1 class="alert alert-info" role="alert">Comercios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdComercio" class="btn btn-primary">Editar</a>  
                <a asp-action="Details" asp-route-id="@item.IdComercio" class="btn btn-info">Detalles</a>  
                <a asp-action="Delete" asp-route-id="@item.IdComercio" class="btn btn-warning">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
